#body_home{
    background-image: none;
}

.header-logo img{
    display:none;
}
.header-logo{
    width: 80%;
}
a{
    list-style: none;
    font-family: 'Roboto',sans-serif;
}
nav a:link{
    text-decoration: none;
    color:white;
}
nav a:active{
    text-decoration: none;
    color:white;
}
nav a:visited{
    text-decoration: none;
    color:white;
}
nav a:hover{
    cursor: pointer;
    color: rgb(255, 57, 57);
    border-bottom: solid rgb(255, 57, 57) 1px;
}
body{
    background-image: url("../img/logos/VALORANT_Logo_V_galleryimage.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h2{
    font-family: "Google Sans", sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
#intro_articulo{
    background-color: rgba(55, 55, 55, 0.633);
}

/*_________________Juego_________________________*/
#seccion_juego img:hover{
    border: solid white 1px;
    border-radius: .375rem;
}

/*________________Agentes________________________*/
.agente-img {
  height: 500px;
  object-fit: cover;
}

.listadesordenada{
    list-style: none;
    margin-bottom: .10em;
}

#seccion_armas{
    background-color: rgba(6, 6, 97, 0.732);
}
#seccion_armas img{
    max-width: 340px;
}
#cuchillo{
    display: none;
}
#btn_cuchillo{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}
#btn_cuchillo:hover{
    color: crimson;
    text-decoration: underline;
}